$nav-bg: #f9fcfc;
$nav-text: #36404a;
$nav-active-text: #5fbeaa;

$examples-bg: #2d3134;
$code-bg: #272b2d;
$code-annotation-bg: #252525;
$nav-subitem-bg: none;
$nav-active-bg: none;
$lang-select-border: pink;
$lang-select-bg: #111;
$lang-select-active-bg: $examples-bg; // feel free to change this to blue or something
$lang-select-pressed-bg: #111; // color of language tab bg when mouse is pressed
$main-bg: #fff;
// $aside-notice-bg: #8fbcd4 !default;
// $aside-warning-bg: #c97a7e !default;
// $aside-success-bg: #6ac174 !default;
// $search-notice-bg: #c97a7e !default;


// OTHER
////////////////////
$nav-active-shadow: transparent;
$nav-footer-border-color: transparent;
$nav-embossed-border-top: transparent;
$nav-embossed-border-bottom: transparent;
$main-embossed-text-shadow: none;
$search-box-border-color: transparent;

.tocify-wrapper a {
  color: $nav-text;
}
.tocify-wrapper .tocify-focus a {
  color: #5fbeaa;
}

a {
  color: #5fbeaa;
}

body .tocify-wrapper {
  border-right: 1px solid #eee;
}

body .tocify-wrapper .tocify-subheader {
  background: none;
}

body .content h1 {
  background: none;
  border: none;
}

body .content blockquote > p {
  border: none;
}
.tocify-wrapper > img {
  padding: 30px 30px 0;
  box-sizing: border-box;
}

.content > .move-right {
  background-color: $code-bg;
  color: #fff;

  padding: 0 $main-padding;
  margin: 0;
  width: $examples-width;

  float:right;
  clear:right;

  box-sizing: border-box;

  @extend %right-col;

  h3 {
    margin: 0
  }
}
